<h3>アカウント情報の編集</h3>

<%= form_with model: @user, local: true do |f| %>
  <%= render "devise/shared/error_messages", resource: @user %>
  <%= render partial: 'users/shared/user_info_form', locals: {f: f} %>
  <div class="actions">
    <%= f.submit "保存する" %>
  </div>
<% end %>

<h3>登録済住所一覧</h3>

<%= link_to "＜　マイページへ戻る", user_path(current_user) %>
