<h2>会員メニュー</h2>

<p><%= current_user.first_kana + current_user.last_kana %>さん</p>
<p>郵便番号：<%= current_user.postal_code %></p>
<p>住所：<%= current_user.address %></p>
<p>電話番号：<%= current_user.phone %></p>
<p>メールアドレス：<%= current_user.email %></p>

<%= link_to edit_user_path(current_user) do %>
  <h4>会員情報の編集</h4>
<% end %>

<%= link_to "#" do %>
  <h4>お気に入り</h4>
<% end %>

<%= link_to orders_path do %>
  <h4>購入履歴一覧</h4>
<% end %>

<%= link_to "#" do %>
  <h4>お問い合わせ</h4>
<% end %>

<%= link_to exit_path(current_user) do %>
  <h4>退会</h4>
<% end %>

<%= link_to "＜　商品一覧へ", root_path %>
