<h1>Admin::Items#new</h1>
<p>Find me in app/views/admin/items/new.html.erb</p>

<div class = "container">
  <div class = "col-lg-9">
    <h1>新規商品の登録</h1>
    <%= form_with model: [:admin, @new_item],local:true do |f| %>
      <table class = "table table-bordered">
        <tr>
          <th>商品名</th>
          <td><%= f.text_field :title %></td>
        </tr>
        <tr>
          <th>価格</th>
          <td><%= f.text_field :price %>（税抜）</td>
        </tr>
        <tr>
          <th>サムネイル</th>
          <td><%= f.attachment_field :jacket_image %></td>
        </tr>
        <tr>
          <th>歌手名</th>
          <td><%= f.select :artist_id, @artists.map {|artist| [artist.name, artist.id] } %></td>
        </tr>
        <tr>
          <th>発売日</th>
          <td><%= f.date_field :release %></td>
        </tr>
        <tr>
          <th>レーベル</th>
          <td><%= f.select :label_id, @labels.map {|label| [label.name, label.id] } %></td>
        </tr>
        <tr>
          <th>ジャンル</th>
          <td><%= f.select :genre_id, @genres.map {|genre| [genre.name, genre.id] } %></td>
        </tr>
        <tr>
          <th>在庫数</th>
          <td><%= f.number_field :stock %></td>
        </tr>

        <tr>
          <%# while 条件 do
              繰り返し処理
              end %>
          <th rowspan = "15">Disc 1</th>
          <% i = 1 %>
          <% while i <= 15 do %>
          <td>
          <%=  i %>
          <% i += 1 %>
          </td>
        </tr>
          <% end %>
      </table>
      <%= f.submit "作成" %>
    <% end %>

  </div>
</div>