<h2 class="font-weight-bold border-bottom pb-2 mt-5 mb-5"><%= @page_title = "商品詳細" %></h2>

<div class="row">
  <div class="col-md-4">
    <div class="card sticky-top border-0">
      <%= image_tag @item.jacket_image_id, size: "350x350"%>
    </div>
  </div>

  <div class="col-md-8">
    <div class="card border-white mb-3">
      <div class="card-header d-flex justify-content-between">
        <h3><%= @item.title %></h3>
        <!-- いいね機能（ajax） -->
        <div id="favs_buttons_<%= @item.id %>">
          <%= render "users/shared/fav_button", item: @item %>
        </div>
      </div>
      <div class="card-body">
        <h5 class="card-title">
          <%= @item.artist.name %>
        </h5>
        <p class="card-text"><%= @item.label.name %></p>
        <p class="card-text">ジャンル：<%= @item.genre.name %></p>
        <p class="card-text">発売日：<%= @item.release %></p>
        <h4 class="card-text"><%= @item.tax_included %>円(税込み)</h4>
        <% if user_signed_in? %> <!-- ログイン済みユーザー -->
          <%= form_with model:[current_user, @cart_item], local: true, class:"d-flex" do |f| %>
            <%= f.select :piece, @item.stock_array, { prompt: '購入点数を選択してください' }, class:"btn border mt-2 p-3" %>
            <%= f.hidden_field :item_id, :value => @item.id %>
            <% unless @item.stock_array == ["売り切れ"] %>
              <%= f.submit "カートに入れる ＞", class:"ml-auto btn btn-info btn-lg" %>
            <% else %>
              <!-- item売り切れの際はボタンを非活性に変更 -->
              <%= f.submit "カートに入れる ＞", class:"ml-auto btn btn-info btn-lg", "disabled" => true %>
            <% end %>
          <% end %>
        <% else %> <!-- 未ログインユーザー -->
          <div class="form d-flex">
            <%= select_tag :piece, options_for_select(@item.stock_array), class:"btn border mt-2 p-3" %>
            <%= link_to "カートに入れる ＞", new_user_session_path, class:"ml-auto btn btn-info btn-lg pt-3" %>
          </div>
        <% end %>
      </div>
    </div>
    <% @discs.each.with_index(1) do |disc, i| %>
      <div class="card mt-5">
        <div class="card-body">
          <h4 class="card-title mb-5">Disc<%= i %></h4>
          <% @songs.each.with_index(1) do |song, i| %>
            <p class="card-text border-bottom pb-2">
              <span class="mr-4"><%= i %>.</span>
              <%= song.title %>
            </p>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= link_to "＜　商品一覧へ", root_path, class: "btn btn-outline-info col-md-4 mt-5" %>
