<h2 class="font-weight-bold border-bottom pb-2 mb-3"><%= @page_title = "確認画面" %></h2>


<div class="card mt-4">
  <h5 class="card-header font-weight-bold">支払い方法</h5>
  <div class="card-body">
    <h5 class="card-title"><%= @order.payment_i18n %></h5>
    <p class="card-text">カード番号</p>
  </div>
</div>

<div class="card mt-4">
  <h5 class="card-header font-weight-bold">配送先</h5>
  <div class="card-body">
    <h5 class="card-title"><span class="col-md-2"></span><%= @order %> 様</h5>
    <p class="card-text">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <span class="col-md-2">郵便番号：</span><%= @order.postal_code %>
        </li>
        <li class="list-group-item">
          <span class="col-md-2">住所：</span><%= @order.address %>
        </li>
      </ul>
    </p>
  </div>
</div>

<div class="card mt-4">
  <h5 class="card-header font-weight-bold">合計金額</h5>
  <div class="card-body">
    <h5 class="card-title">
      <%= (@order.total_price - @order.delivery_cost).to_s(:delimited) %>円
    </h5>
    <p class="card-text">送料：<%= @order.delivery_cost %></p>
    <h4 class="card-text border-top pt-3">
      合計：<%= @order.total_price.to_s(:delimited) %>円
    </h4>
  </div>
</div>

<div class="actions mt-5">
  <%= submit_tag "購入確定", class: "btn btn-lg btn-info col-md-12"%>
</div>
<div class="d-flex justify-content-between mt-5">
  <%= link_to "＜　支払い方法選択へ戻る", new_user_order_path(current_user), class: "btn btn-outline-info col-md-4" %>
  <%= link_to "商品一覧へ　＞", root_path, class: "btn btn-outline-info col-md-4" %>
</div>
