<% @page_title = "確認画面" %>

<h2 class="font-weight-bold border-bottom pb-2 mb-3">購入者情報</h2>
<%= render "users/shared/user_info" %>

<h2 class="font-weight-bold border-bottom pb-2 mb-3">支払い方法選択</h2>
<%= form_with model: [current_user, @order] do |f| %>
  <div class="card card-body mb-5">
    <!-- 支払い方法が各配列になっているからpayment[0]でok (例）["クレジット", "0"] -->
    <% Order.payments.each_with_index do |payment, i| %>

        <h5 class="mb-3 custom-control custom-radio">
          <%= f.radio_button :payment, payment[0], class:"custom-control-input" %>
          <%= f.label :"#{payment[0]}", class:"custom-control-label", for:"order_payment_#{payment[0]}" %>
        </h5>
        <% case i
        when 0 %>
          <p class="mb-5">カード番号入力</p>
        <% when 1 %>
          <p class="mb-5">代金のお支払い後に商品が発送されます。なお、お支払いの際に必要となるお支払い番号は、出荷準備に入り次第発行されます。</p>
        <% when 2 %>
          <p>代引き手数料がかかります。</p>
        <% end %>

    <% end %>

  </div>
<% end %>

<h2 class="font-weight-bold border-bottom pb-2 mb-3">配送先住所変更</h2>
<div class="card card-body mb-5">
  <h5 class="mb-5">◯　登録済みの住所とは別の住所を使う場合</h5>
  <%= render "users/shared/address_form", address: [current_user, @order] %>
</div>

<h2 class="font-weight-bold border-bottom pb-2 mb-3">合計金額</h2>
<div class="card card-body mb-5">
</div>


<div class="row">
  <%= link_to "購入する", user_orders_thanks_path(current_user), class: "btn btn-lg btn-info col-md-12"%>
</div>

<div class="row d-flex justify-content-between mt-5">
  <%= link_to "＜　カートへ戻る", root_path, class: "btn btn-outline-info col-md-4" %>
  <%= link_to "商品一覧へ　＞", root_path, class: "btn btn-outline-info col-md-4" %>
</div>
