<h1>Admin::Users#index</h1>
<p>Find me in app/views/admin/users/index.html.erb</p>

<h3 class = "table_title">顧客一覧</h3>

<table class="table table-hover">
  <thead>
    <tr class = "table-primary">
      <th>ID</th>
      <th scope="col">顧客名</th>
      <th>住所</th>
      <th>メールアドレス</th>
    </tr>
  </thead>
  <tbody>
    <tr>
    <% @users.each do |f| %>
      <td scope="row"><%= f.id %></td>
      <td><%= f.first_name %><%= f.last_name %></td>
      <td><%= f.address %></td>
      <td><%= f.email %></td>
    </tr>
    <% end %>
  </tbody>
</table>

