<div class = "col-3">
  <h4>管理者メニュー</h4>
  <table class = "table table-bordered">
    <tr>
      <td>
        <%= link_to "注文一覧", admin_orders_path %>
      </td>
    </tr>
    <tr>
      <td>
        <%= link_to "顧客一覧", admin_users_path %>
      </td>
    </tr>
    <tr>
      <td>
        <%= link_to "アイテム一覧", admin_items_path %>
      </td>
    </tr>
    <tr>
      <td>
        <%= link_to "アーティスト一覧", admin_artists_path %>
      </td>
    </tr>
    <tr>
      <td>
        <%= link_to "ジャンル一覧", admin_genres_path %>
      </td>
    </tr>
    <tr>
      <td>
        <%= link_to "レーベル一覧", admin_labels_path %>
      </td>
    </tr>
  </table>
</div>