<!DOCTYPE html>
<html>

<head>
  <title><%= page_title %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body id="wrapper">
  <header>
    <!-- 管理者 -->
    <% if request.fullpath.include? "admin" %>
    <!-- admin側のヘッダー -->
    <%= render 'admin/shared/admin_header' %>
    <% else %>
    <!-- ユーザー -->
    <% if user_signed_in? %>
    <%= render 'users/shared/login_header' %>
    <!-- ユーザーサインイン時 -->
    <% else %>
    <%= render 'users/shared/logout_header' %>
    <!-- ユーザーサインアウト時 -->
    <% end %>
    <% end %>
  </header>

  <main>
    <div class="container">
      <% if request.fullpath.include? "users/" %>
        <%= yield %>
      <% else %>
        <div class = "row">
          <%# ページ一覧 %>
          <%= render 'admin/shared/page_lists' %>
          <div class = "col-9">
            <%= yield %>
          </div>
        </div>
      <% end %>
    </div>
  </main>

  <footer>
    <p class="footer-text text-center mt-5 pt-3 pb-3 text-black-50">ANAGO SHOP.</p>
  </footer>

</body>

</html>