<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <!-- 管理者 -->
      <% if request.fullpath.include? "admin" %>
        <!-- admin側のヘッダー -->
      <% else %>
      <!-- ユーザー -->
        <% if user_signed_in? %>
          <%= render 'users/shared/login_header' %><!-- ユーザーサインイン時 -->
        <% else %>
          <%= render 'users/shared/logout_header' %><!-- ユーザーサインアウト時 -->
        <% end %>
      <% end %>
    </header>

    <main>
      <div class="container">
          <%= yield %>
      </div>
    </main>

  </body>
</html>
